.calendar-table {
    border: 1px solid #DDDDDD;
    background-color: #FFF;
    width: 200px;
    height: 200px;
}

.calendar-table th, .calendar-table td {
    text-align: center;
}

.calendar-table tr {
    font-size: 13px;
}

.calendar-table td:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.calendar-table .today-item {
    background-color: white;
    border: dotted 1px;
}

.calendar-table .today-month-item {
    background-color: white;
    border: dotted 1px;
}

.calendar-table .today-year-item {
    background-color: white;
}

.calendar-table .today-item:hover {
    background-color: #AABBCC;
}

.activities-area ul {
    list-style: none;
}

.calendar-table .lastMonthItem {
    background-color: white;
    font-weight: lighter;
    color: #888;
}
.calendar-table .lastMonthItem:hover {
    background-color: white;
    font-weight: normal;
    color: #333;
}

.calendar-table .nextMonthItem {
    background-color: white;
    font-weight: lighter;
    color: #888;
}

.calendar-table .nextMonthItem:hover {
    background-color: white;
    font-weight: normal;
    color: #333;
}

.cursor-default {
    cursor: default;
}
.calendar-btn.next-page-btn {
    float: right;
}

.calendar-btn.previous-page-btn {
    float: left;
}

.calendar-page-title {
    position: absolute;
    left: 60px;
}

.back-to-today-btn {
    position: absolute;
    left: 140px;
}
