.calendar-table {
    border: 1px solid #DDDDDD;
    width: 500px;
    height: 400px;
    background-color: #EEEEEE;
}
.left-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 800px;
}
.calendar-table th, .calendar-table td {
    text-align: center;
}

.calendar-table td:hover {
    background-color: #AEB0FF;
    cursor: pointer;
}

.calendar-table .today-item {
    background-color: #90ee90;
}

.calendar-table .today-item:hover {
    background-color: red;
}

.day-detail {
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    background-color: #EEEEEE;
}

.activities-area ul {
    list-style: none;
}
